* {font-size: 20px;
    margin:0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{height: 100%;
    background-color:rgb(10, 5, 4);
    background-image: linear-gradient(black, red, green);
    background-repeat: no-repeat;
    background-size: contain  ;
}
/*Contains of the cover page*/
.navigationdiv {
    background-color: rgb(129, 51, 51);
    width: 100%;

    
    
}
.navigationdiv a{
    text-decoration: none;
    display: block;
    padding: 1vw  3vw;
    float: left;
    text-align: center;
    color: rgb(158, 157, 214);
}
.navigationdiv .paddingfora{padding-left: 12vw;}
.emptydiv{height: 22vh;
width: 100%;}
.divabout{
    width: 100%;
    height: 100vh;
    text-align:center;
}
   
.myname{
    font-size: 6em;
    text-shadow: 0.3vw 0.5vw 0.5vw rgb(90, 30, 30);
    color: rgb(183, 59, 199);
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    }
.navigation li{float: left;
}
a:hover{background-color: rgb(190, 87, 17);
}
